@import "tailwindcss";

.error {
  color: red;
  background: lightgrey;
  font-size: 16px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px;
  max-width: 500px;
}

.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
}